 body {
    font-size: 2em;
 }

 .column-side.left {
    width: 60%;
}

.column-side.right {
    width: 37%;
}

.list-view {
    font-size: 1.25em;
}

.post-iframe {
    font-size: 1.25em;
}

.post-icon {
    width: 0.6em !important;
    height: 0.6em !important;
    padding-left: 4px;
}